extends layout

block content
    div.container-content
        h1= title
        div.index-body
            p Home for your personal Recipes
            h2 MyCookBook.uz
            a(href="/recipes/new" class='btn btn-primary')  New Recipe
        img(src="img/cook.jpg", alt="Error")